body {
    background: #262626;
}

a {
    color: #fff;
    &:hover {
        color: #FF7200;
    }
}

#giantbomb-wrapper {
    max-width: 100vw;
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    padding-left: 20rem;
    padding-right: 20rem;
}
#giantbomb-wrapper header {
    text-align: center;
    margin-bottom: 32px;
}
#giantbomb-wrapper main#content {
    min-height: 300px;
}
#giantbomb-wrapper footer {
    text-align: center;
    font-size: 0.9em;
    color: #888;
}
#gb-main-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
}
#gb-main-layout main#content {
    flex: 1 1 0;
    min-width: 0;
}
#gb-sidebar {
    width: 20rem;
    background: #1E1E1E;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#gb-sidebar h2 {
    margin: 0;
    font-size: 1.1em;
    margin-bottom: 12px;
}
#gb-sidebar select {
    display: block;
    height: 1.5rem;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 8px;
    font-size: 0.75em;
    background: #333435;
    color: #c4c4c4;
    border: 0px;
    outline: 0px;
}
#gb-sidebar hr {
    margin: 0;
    border: none;
    border-top: 1px solid #dddddd67;
}
@media (max-width: 900px) {
    #gb-main-layout {
        flex-direction: column;
    }
    #gb-sidebar {
        width: 100%;
        border-left: none;
        border-top: 1px solid #e0e0e0;
        border-radius: 0 0 8px 8px;
        box-shadow: none;
        padding: 16px 8px;
    }
} 

.game-container {
    width: 10rem;
    h3{
        margin: 0;
        margin-bottom: 6px;
    }
    h4 {
        margin: 0;
        margin-bottom: 12px;
    }
    img {
        height: 10rem;
        width: 10rem;
    }
    .badge {
        background-color: #373D43;
        color: white;
        padding: 4px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        font-size: smaller;
    }
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}