body {
  background-color: #141414;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.highlight {
  color: #D9792D;
}

.red-gradient {
  background: linear-gradient(90deg, #AE1818 0%, #9B1616 100%);
}
