<div 
    class="game-card-base"
    id="game-card-{{index}}"
    style="background-image: url('{{img}}');"
>
    <div class="info-container">
        <div class="game-title-and-date">
            <h2 class="highlight">{{title}}</h2>
            <h4>{{date}}</h4>
        </div>        
    </div>
</div>
