<section class="landing-page-section-container">
    <h1>{{sectionTitle}}</h1>
    <div class="games-container">
        {{#games}}
            {{> game-card }}
        {{/games}}
    </div>
</section>
<hr class="highlight" />
