<div id="landing-page-container">
    
    {{> wiki-button-group }}

    <div id="dynamic-content">
        <hr class="highlight" />

        {{> whats-hot }}
        {{> gaming-history }}
        {{> random-games }}
    
    </div>
</div>
