<section class="landing-page-section-container">
    <h1>Random games</h1>
    <div class="random-games-container">
        {{#games}}
            {{> game-card }}
        {{/games}}
    </div>
</section>
<hr class="highlight" />
